body {
  background-color: #545454;
}

h1 {
  color: white;
  font-family: "Roboto", sans-serif;
}

.intro {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-right: 500px;
}

.about {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-right: 500px;
}

.skills-header {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-right: 500px;
}

li {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-right: 500px;
}

h4 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-right: 500px;
}

h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-right: 500px;
}

.about-homelab {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-right: 500px;
}

.vm-header {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-right: 500px;
}

.router-desc {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-right: 500px;
}

.back-button {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-right: 500px;
}

.planned {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-right: 500px;
}
